* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0e17;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pemuat {
    width: 200px;
    height: 200px;
    border: 5px solid #000;
    border-radius: 5px;
    padding: 0 8px;
    background: linear-gradient(#fffffe 0 0) 0 0/8px 20px,
        linear-gradient(#fffffe 0 0) 100% 0/8px 20px,
        radial-gradient(farthest-side, #fffffe 90%, #0000) 0 5px/8px 8px content-box,
        #000;
    background-repeat: no-repeat;
    animation: gerak 2s infinite linear;
}

@keyframes gerak {
    25% {
        background-position: 0 0, 100% 100%, 100% calc(100% - 5px);
    }

    50% {
        background-position: 0 100%, 100% 100%, 0 calc(100% - 5px);
    }

    75% {
        background-position: 0 100%, 100% 0, 100% 5px;
    }
}